*.exe
*.mp4
*.aac
*.wav
*.raw
*.rar
*.7z
*.tar
/__pycache__/
.venv/
.pytest_cache/
*.temp
*.tmp
*.log
*.pyc
*.ok*
ok
tests/
cs61a/proj/hog/default_graphics.py
cs61a/proj/hog/dice.py
cs61a/proj/hog/fuss.png
cs61a/proj/hog/hog_gui.py
cs61a/proj/hog/hog_ui.py
cs61a/proj/hog/ucb.py
shared/
construct_check.py
cs61a/proj/cats/data/common_words.txt
cs61a/proj/cats/data/final_diff_words.txt
cs61a/proj/cats/data/sample_paragraphs.txt
cs61a/proj/cats/data/testcases.out
cs61a/proj/cats/data/words.txt
cs61a/proj/cats/favicons/crying.ico
cs61a/proj/cats/favicons/grinning.ico
cs61a/proj/cats/favicons/heart-eyes.ico
cs61a/proj/cats/favicons/kissing.png
cs61a/proj/cats/favicons/pouting.ico
cs61a/proj/cats/favicons/smiling.ico
cs61a/proj/cats/favicons/tears-of-joy.ico
cs61a/proj/cats/favicons/weary.ico
cs61a/proj/cats/favicons/wry.ico
cs61a/proj/cats/images/cats_typing_still.gif
cs61a/proj/cats/images/cats_typing.gif
cs61a/proj/cats/images/fib_tree.png
cs61a/proj/cats/images/keyboard.png
cs61a/proj/cats/multiplayer/FreeMono.ttf
cs61a/proj/cats/score.py
cs61a/proj/cats/ucb.py
cs61a/proj/cats/utils.py
cs61a/proj/cats/multiplayer/leaderboard_integrity.py
cs61a/proj/cats/multiplayer/multiplayer.py
cs61a/proj/cats/cats_gui.py
cs61a/lab/lab05/tree.py
