*.exe
*.mp4
*.aac
*.wav
*.raw
*.rar
*.7z
*.tar
/__pycache__/
.venv/
.pytest_cache/
*.temp
*.tmp
*.log
*.pyc
*.ok*
ok
tests/
/hw/hw01/construct_check.py
*.aide.py
*.ok*
ok
tests/
cs61a/proj/hog/default_graphics.py
cs61a/proj/hog/dice.py
cs61a/proj/hog/fuss.png
cs61a/proj/hog/hog_gui.py
cs61a/proj/hog/hog_ui.py
cs61a/proj/hog/ucb.py