{% extends "layout.html" %}
{% block title %}
    index
{% endblock %}

{% block main %}
<form action="/" method="post">
    <div class="container py-5 text-center">
      <table class="table table-striped">
        <thead>
            <tr>
                <th class="text-start" fr-bold-37f361a02a="">Symbol</th>
                <th class="text-end" fr-bold-37f361a02a="">Shares</th>
                <th class="text-end" fr-bold-37f361a02a="">Price</th>
                <th class="text-end" fr-bold-37f361a02a="">Transacted</th>
            </tr>
        </thead>
       <tbody>
            {% for share in history %}
              <tr>
                <td class="text-start">{{ share["symbol"] }}</td>
                <td class="text-end">{{ share["shares"] }}</td>
                <td class="text-end">{{ share["price"] | usd }}</td>
                <td class="text-end">{{ share["transacted"] }}</td>
              </tr>
            {% endfor %}

        </tbody>
        <tfoot>
        </tfoot>
    </table>

    </div>

</form>
{% endblock %}
