{% extends "layout.html" %}
{% block title %}
index
{% endblock %}

{% block main %}

<div class="container py-5 text-center">
  <table class="table table-striped">

    <thead>
      <tr>
        <th class="text-start" fr-bold-37f361a02a="">Symbol</th>
        <th class="text-end" fr-bold-37f361a02a="">Shares</th>
        <th class="text-end" fr-bold-37f361a02a="">Price</th>
        <th class="text-end" fr-bold-37f361a02a="">TOTAL</th>
      </tr>
    </thead>

    <tbody>
      {% for share in shares %}
      <tr>
        <td class="text-start">{{ share["symbol"] }}</td>
        <td class="text-end">{{ share["shares"] }}</td>
        <td class="text-end">{{ share["price"] | usd }}</td>
        <td class="text-end">{{ share["total"] | usd }}</td>
        <td class="text-end">
          <div class="d-flex align-items-center justify-content-center">
            <form action="/buy" method="post">
              <input name="symbol" type="hidden" value="{{ share['symbol'] }}">
              <input name="shares" type="hidden" value="1">
              <button type="submit" class="btn btn-outline-primary btn-sm me-2">Buy</button>
            </form>
            <form action="/sell" method="post">
              <input name="symbol" type="hidden" value="{{ share['symbol'] }}">
              <input name="shares" type="hidden" value="1">
              <button type="submit" class="btn btn-outline-primary btn-sm">Sell</button>
            </form>
          </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>

    <tfoot>
      <tr>
        <td class="border-0 fw-bold text-end" colspan="3" fr-bold-37f361a02a="">Cash</td>
        <td class="border-0 w-bold text-end">{{ user_cash | usd }}</td>
      </tr>
      <tr>
        <td class="border-0 fw-bold text-end" colspan="3" fr-bold-37f361a02a="">TOTAL</td>
        <td class="border-0 w-bold text-end">{{ total | usd }}</td>
      </tr>
    </tfoot>
  </table>

</div>

{% endblock %}
